@font-face {
  font-family: '<%= fontName %>';
  src: url('#{$generatedFontPath}/<%= fontName %>.eot');
  src: url('#{$generatedFontPath}/<%= fontName %>.eot?#iefix') format('eot'),
  url('#{$generatedFontPath}/<%= fontName %>.woff') format('woff'),
  url('#{$generatedFontPath}/<%= fontName %>.ttf') format('truetype');
}

.<%= cssClass %> {
  font-family: '<%= fontName %>';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  display: inline-block;
  line-height: 14px;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';

  &.spin {
    animation-duration: 1s;
    animation-name: spinner;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    &.ng-animate {
      animation: none 0s;
    }
  }

  &.red {
    @include variable(color, rgb(var(--error)), #fff);
  }

  &.big-icon {
    font-size: $bigIconSize;
  }

  &.bigger-icon {
    font-size: $biggerIconSize;
  }

  @-webkit-keyframes spinner {
    0% {
      transform: rotate(360deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }

  @keyframes spinner {
    0% {
      transform: rotate(360deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }
}

<% _.each(glyphs, function(glyph) { %>
.<%= cssClass %>-<%= glyph.fileName %>:before {
  content: "\<%= glyph.codePoint %>";
}
<% }); %>
