$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$weightBlack: 900;

// FONT SIZE
$h1: 30px;
$h2: 24px;
$h3: 20px;
$h4: 18px;
$subheadingSize: 16px;
$bodySize: 15px;
$captionSize: 13px;
$textFamily: 'Roboto';
$fontFamily: $textFamily, sans-serif;
$minExtraLarge: 1200px;
$maxLarge: 1199px;
$minLarge: 992px;
$maxMedium: 991px;
$minMedium: 768px;
$maxSmall: 767px;
$minSmall: 544px;
$grey200: #EEEEEE;
$maxExtraSmall: 543px;
$grey800: #424242;
$blue500: #2196F3;
$green500: #4CAF50;
$deepPurple500: #673AB7;
$transitionDuration: 0.2s;
$transitionCurve: cubic-bezier(0.4, 0, 0.2, 1);
$smallIconSize: 18px;
$normalIconSize: 24px;
$mediaIconSize: 36px;
$bigIconSize: 48px;
$biggerIconSize: 56px;
$fontPath: '../../font' !default;
$imagePath: '../../image' !default;
