<div class="flex m-4 flex-col items-center sm:flex-row">
  <app-category class="flex"/>
  <div class="sm:flex-grow mb-2 sm:mb-0"></div>
  <app-filter class="block w-full sm:w-auto" [searchTerm]="searchTerm()" (onSearch)="search($event)"/>

  @if (isLogged()) {
    <div class="ml-2">
      <button decorationButton (click)="openSearchPanel()"><app-icon name="add"/></button>
    </div>
  }
</div>

<app-list [groupMedia]="displayList()" [groupMediaLimit]="groupMediaLimit()" [groupMediaSort]="groupMediaSort()" (onSort)="sort($event)" (onUpdate)="openUpdatePanel($event)" (onIncreaseLimit)="increaseLimit($event)"/>
