@for (groupMedium of groupMedia; track groupMedium.label) {
  @if (groupMedium.media.length > 0) {
    <div class="mx-16 flex" style="align-items: center;">
      <div class="bold text-xl mr-8" [id]="groupMedium.label">{{groupMedium.label}}</div>
      <div class="fill"></div>
      <app-sort [orderBy]="groupMediaSort[groupMedium.value]" (onChange)="sort(groupMedium, $event)"/>
    </div>

    <div class="media-container" style="margin-bottom: 64px;">
      @for (game of groupMedium.media; track game; let i = $index) {
        @if (i < groupMediaLimit[groupMedium.value]) {
          <media-item [data]="game" (click)="update(game)"></media-item>
        }
      }

      @if (groupMediaLimit[groupMedium.value] < groupMedium.media.length) {
        <media-more [category]="groupMedium" [limit]="groupMediaLimit[groupMedium.value]" (click)="increaseLimit(groupMedium)"/>
      }
    </div>
  }
}
