@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --movie-width: 200px;

  --presentation-media-width: 200px;
  --presentation-media-height: calc(var(--presentation-media-width) * 1.5);
}

@media (max-width: 768px) {
  :root {
    --movie-width: 180px;
    --presentation-media-width: 175px;
  }
}

@media (max-width: 544px) {
  :root {
    --movie-width: 160px;
    --presentation-media-width: 125px;
  }
}
