$minExtraLarge: 1200px;
$maxLarge: 1199px;
$minLarge: 992px;
$maxMedium: 991px;
$minMedium: 768px;
$maxSmall: 767px;
$minSmall: 544px;
$grey200: #EEEEEE;
$maxExtraSmall: 543px;
$grey800: #424242;
$blue500: #2196F3;
$green500: #4CAF50;
$deepPurple500: #673AB7;
$transitionDuration: 0.2s;
$transitionCurve: cubic-bezier(0.4, 0, 0.2, 1);
$smallIconSize: 18px;
$normalIconSize: 24px;
$mediaIconSize: 36px;
$bigIconSize: 48px;
$biggerIconSize: 56px;

$fontPath: '../../font' !default;
$generatedFontPath: '../generated' !default;
$imagePath: '../../image' !default;


@mixin variable($property, $variable, $fallback) {
  #{$property}: $fallback;
  #{$property}: $variable;
}

@mixin borderRadius($radius: 8px) {
  border-radius: $radius;
}

@mixin borderRadiusBottom($radius: 8px) {
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin borderRadiusTop($radius: 8px) {
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}


@mixin text-ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@import 'assets/styles/variable';
@import 'assets/styles/reset';
@import 'assets/styles/base';
@import 'assets/styles/box';
@import 'assets/styles/flex';
@import 'assets/styles/form';

@include build-margin();
@include build-padding();

:root {
  --movie-width: 200px;

  --presentation-media-width: 200px;
  --presentation-media-height: calc(var(--presentation-media-width) * 1.5);
}

@media (max-width: $minMedium) {
  :root {
    --movie-width: 180px;
    --presentation-media-width: 175px;
  }
}

@media (max-width: $minSmall) {
  :root {
    --movie-width: 160px;
    --presentation-media-width: 125px;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.presentation {
  cursor: pointer;
  height: calc(var(--presentation-media-height) * 2);
  display: flex;
  align-items: center;
  position: relative;
  background: rgb(18, 18, 18);
  background: linear-gradient(90deg, rgba(18, 18, 18, 1) 25%, rgba(18, 18, 18, 0.7) 50%, rgba(18, 18, 18, 0.1) 100%);
  margin-bottom: 16px;
  overflow: hidden;

  .text {
    padding-left: 100px;

    .title {
      text-shadow: 0 0 5px rgba(0, 212, 252, 0.8);
      font-size: 30px;
      font-weight: 700;
      letter-spacing: -1;
    }

    .description {
      opacity: 0.5;
      font-size: 20px;
      font-weight: 500;
    }

    .more {
      margin-top: 16px;
      font-size: 17px;
      font-weight: 700;
      opacity: 0.8;

      i {
        opacity: 0.4;
        position: relative;
        top: 5px;
      }
    }
  }

  .background {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--presentation-media-width), 1fr));

    .poster {
      height: var(--presentation-media-height);
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      &:before {
        content: "";
      }
    }
  }

  @media (max-width: $minMedium) {
    background: linear-gradient(90deg, rgba(18, 18, 18, 1) 50%, rgba(18, 18, 18, 0.7) 75%, rgba(18, 18, 18, 0.5) 100%);

    .text {
      padding-left: 50px;
    }
  }

  @media (max-width: $minSmall) {
    background: linear-gradient(90deg, rgba(18, 18, 18, 1) 50%, rgba(18, 18, 18, 0.7) 75%, rgba(18, 18, 18, 0.7) 100%);

    .text {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}

.media-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--movie-width), 1fr));
  grid-gap: 16px;
  padding: 16px;
}

.media {
  position: relative;
  display: block;
  width: 100%;

  .poster-container {
    border-radius: 8px;
    box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);;
    margin-bottom: 12px;
    overflow: hidden;

    .poster {
      display: block;
      width: 100%;
      aspect-ratio: 2/3;

      &:before {
        content: "";
      }

      picture {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;

        img {
          object-fit: cover;
        }
      }
    }
  }

  .content {
    @include variable(color, rgb(var(--on-background)), #000);
    text-shadow: 0 0 10px #000;
    text-align: center;
  }

  &.blur {
    .poster {
      filter: blur(8px);
      -webkit-filter: blur(8px);
    }

    .content {
      position: absolute;
      left: 0;
      right: 0;
      top: 40%;
      text-shadow: 0 2px 2px #000;
    }
  }
}

.thin {
  font-weight: $thin;
}

.light {
  font-weight: $light;
}

.regular {
  font-weight: $regular;
}

.media {
  font-weight: $medium;
}

.bold {
  font-weight: $bold;
}

.text-sm {
  font-size: $captionSize;
}

.text-base {
  font-size: $bodySize;
}

.text-lg {
  font-size: $subheadingSize;
}

.text-xl {
  font-size: 25px;
}

.weightBlack {
  font-weight: $weightBlack;
}

@for $i from 0 through 10 {
  .opacity-#{$i} {
    opacity: calc($i / 10);
  }
}
