@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --list-media-width: 200px;
  --transition-curve: cubic-bezier(0.4, 0, 0.2, 1);

  --presentation-media-width: 200px;
  --presentation-media-height: calc(var(--presentation-media-width) * 1.5);

  --search-media-width: 120px;
}

@media (max-width: 768px) {
  :root {
    --list-media-width: 180px;
    --presentation-media-width: 175px;
    --search-media-width: 100px;
  }
}

@media (max-width: 640px) {
  :root {
    --list-media-width: 160px;
    --presentation-media-width: 125px;
    --search-media-width: 80px;
  }
}

.reflection {
  &:after {
    content: "";
    inset: 0;
    position: absolute;
    background: linear-gradient(200deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.3) 35%, rgba(255, 255, 255, 0.1) 42%, rgba(255, 255, 255, 0) 60%);
    transform: rotateX(0deg) rotateY(0deg) translateY(-20%);
    transition: transform 0.4s var(--transition-curve);
    will-change: transform;
  }

  &:hover {
    &:after {
      transform: rotateX(2deg) rotateY(1deg) translateY(0%);
    }
  }
}
