<ng-container [formGroup]="formGroup">
  <div class="flex">
    <input [type]="typeField" [placeholder]="question.placeholder" [id]="question.key" [formControlName]="question.key" (focus)="focused()" (change)="valueChanged()" (keyup)="keyPressed()" class="form-control" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" [c7zFocus]="question.focus">

    <ng-container *ngIf="typeField === 'password'">
      <c7z-button icon="visibility" class="tw-absolute tw-right-0" (onClick)="changeTypeInputPassword()"></c7z-button>
    </ng-container>
    <ng-container *ngIf="typeField === 'text'">
      <c7z-button icon="visibility-off" class="tw-absolute tw-right-0" (onClick)="changeTypeInputPassword()"></c7z-button>
    </ng-container>
  </div>
</ng-container>
