<div class="mx-16 mt-16 max-w-936">
  <div class="mb-16">
    <button (click)="navigateBack()">
      <i class="icon icon-arrow-back pr-8"></i> Back
    </button>
  </div>

  <div class="bold text-xl mb-16">Search a new {{type}}</div>

  <div>
    <div class="flex mb-24" style="align-items: end;">
      <div class="fill">
        <form [formGroup]="searchForm" (submit)="onSubmit()">
          <div style="position: relative;">
            <input type="text" formControlName="search" placeholder="Search" style="max-width: none;"/>
            <i class="icon icon-search"></i>
          </div>
        </form>
      </div>

      <div class="ml-16">
        <button (click)="navigateAdd()">
          <i class="icon icon-add pr-8"></i> Add manually
        </button>
      </div>
    </div>

    <ng-container *ngIf="error">
      <div class="mb-8">
        <div style="color: red">{{error}}</div>
      </div>
    </ng-container>

    <ng-container *ngIf="loading">
      <div class="card mb-16" style="text-align: center;">
        <i class="icon icon-sync text-xl spin"></i>
      </div>
    </ng-container>

    <ng-container *ngIf="!loading && searchResults">
      <div class="bold text-lg mb-16">Results</div>

      <div class="card">
        <ng-container *ngIf="searchResults.length === 0">
          No result
        </ng-container>

        <ng-container *ngIf="searchResults.length > 0">
          <ng-container *ngFor="let result of searchResults">
            <div class="row clickable p-12" style="cursor: pointer;" (click)="select(result)">{{result.title}} ({{result.year}})</div>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
