<div class="mx-16 mt-16">
  <div class="mb-32">
    <button (click)="navigateBack()">
      <i class="icon icon-arrow-back pr-8"></i> Back
    </button>
  </div>

  <div class="bold text-xl mb-16">Search a new {{type}}</div>

  <div>
    <div class="flex mb-24" style="align-items: end;">
      <form [formGroup]="searchForm">
        <div style="position:relative;">
          <input type="text" formControlName="search" placeholder="Search"/>
        </div>
      </form>

      <div class="ml-8">
        <button (click)="navigateAdd()">
          <i class="icon icon-search pr-8"></i> Search
        </button>
      </div>

      <div class="ml-8">
        <button (click)="navigateAdd()">
          <i class="icon icon-add pr-8"></i> Add manually
        </button>
      </div>
    </div>

    <div class="bold text-lg mb-16">Results</div>
    <!--  <ng-container *ngIf="!results || results.length === 0">-->
    <!--    Aucun résultat-->
    <!--  </ng-container>-->

    <!--  <ng-container *ngIf="results && results.length > 0">-->
    <!--    <div class="c7z-card">-->

    <!--      <ng-container *ngFor="let result of results">-->
    <!--        <div class="row" (click)="select(result)">{{result.title}} ({{result.year}})</div>-->
    <!--      </ng-container>-->
    <!--    </div>-->
    <!--  </ng-container>-->
  </div>
</div>
