  <div class="font-bold text-2xl mb-2">Search a new {{type()}}</div>

  <div>
    <div class="flex items-center mb-4">
      <div class="grow">
        <form [formGroup]="searchForm()!">
          <input type="text" formControlName="search" placeholder="Search" decorationInput/>
        </form>
      </div>

      <div class="ml-4">
        <button decorationButton (click)="openAddPanel()">Add manually</button>
      </div>
    </div>

    @if (error()) {
      <div class="mb-8">
        <div style="color: red">{{error}}</div>
      </div>
    }

    @if (loading()) {
      <div class="font-bold text-lg">Loading...</div>
    } @else if (searchResults()) {
      <div class="font-bold text-lg mb-2">Results</div>
      <div class="grid gap-4 grid-cols-search mb-16">
        @if (searchResults()!.length === 0) {
          No result
        } @else {
          @for (result of searchResults(); track result) {
            <media-item [data]="$any(result)" (click)="openImportPanel(result)"></media-item>
          }
        }
      </div>
    }
</div>
