<div class="mx-16 mt-16 flex" style="justify-content: end;">
    <div style="max-width: 400px; width: 100%;">
        <dynamic-form-section [questions]="questions" (onValid)="onValid($event)"></dynamic-form-section>
    </div>

    <ng-container *ngIf="isLogged">
        <div class="ml-8">
            <c7z-button class="secondary grey" icon="add" (onClick)="navigateSearch()"></c7z-button>
        </div>
    </ng-container>
</div>

<ng-container *ngFor="let category of displayList">
    <ng-container *ngIf="category.series?.length > 0">
        <div class="mx-16 mt-32 flex" style="align-items: baseline;">
            <div class="bold" style="font-size: 25px;">{{category.label}}</div>
            <div class="fill"></div>
            <div style="font-size: 16px;">
                <span style="cursor: pointer;" [ngClass]="{'bold': category.orderBy === 'random', 'opacity-8': category.orderBy !== 'random'}" (click)="sort(category, 'random')">Random</span>
                <span class="mx-4 opacity-5">/</span>
                <span style="cursor: pointer;" [ngClass]="{'bold': category.orderBy === 'alphabetic', 'opacity-8': category.orderBy !== 'alphabetic'}" (click)="sort(category, 'alphabetic')">A-Z</span>
                <span class="mx-4 opacity-5">/</span>
                <span style="cursor: pointer;" [ngClass]="{'bold': category.orderBy === 'chronologic', 'opacity-8': category.orderBy !== 'chronologic'}" (click)="sort(category, 'chronologic')">Year</span>
            </div>
        </div>

        <div class="media">
            <ng-container *ngFor="let serie of category.series; index as i">
                <ng-container *ngIf="i < category.limit">
                    <serie-item [data]="serie" (click)="navigateUpdate(serie)"></serie-item>
                </ng-container>
            </ng-container>

            <ng-container *ngIf="category.limit < category.series.length">
                <div class="medium blur" (click)="increaseLimit(category)" style="cursor: pointer;">
                    <div class="poster-container">
                        <div class="poster" [style.backgroundImage]="'url(' + category.series[category.limit].backgroundImage + ')'"></div>
                    </div>

                    <div class="content">
                        <div class="title" style="font-size: 20px; font-weight: 600;">Still {{category.series.length - category.limit}} series</div>
                        <div class="year" style="font-size: 16px; font-weight: 400;">See more</div>
                    </div>
                </div>
            </ng-container>
        </div>
    </ng-container>
</ng-container>
