<ng-container *ngFor="let item of mediaList">
  <div class="presentation" (click)="selectMedia(item)">
    <div class="text">
      <div class="title">{{item.title}}</div>
      <div class="description">{{item.description}}</div>
      <div class="more">See more <i class="icon icon-chevron-right"></i></div>
    </div>

    <div class="background">
      <ng-container *ngIf="item.data.length > 0">
        <ng-container *ngFor="let datum of item.data">
          <div class="poster">
            <picture>
              <source [srcset]="'http://localhost:3000/upload/' + datum.id + '.webp'" type="image/webp">
              <img [ngSrc]="'http://localhost:3000/upload/' + datum.id + '.jpg'" alt="Description" fill="true">
            </picture>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</ng-container>
