<div class="mx-4 max-w-936">
  <div class="mb-4">
    <button (click)="navigateBack()">
      <i class="icon icon-arrow-back pr-2"></i> Back
    </button>
  </div>

  <div class="bold text-xl mb-4">Login</div>

  <div class="border rounded-lg p-4 mb-4">
    <form [formGroup]="loginForm" (submit)="onSubmit()">
      <div class="mb-2">Username</div>
      <div class="mb-4 relative">
        <input type="password" formControlName="username"/>
      </div>

      <div class="mb-2">Password</div>
      <div class="mb-4 relative">
        <input type="password" formControlName="password"/>
      </div>

      <div class="mb-4 flex relative cursor-pointer" (click)="toggleStayConnected()">
        <i class="icon mr-2" [ngClass]="{'icon-check-box': formData?.stayLogged, 'icon-check-box-outline-blank': !formData?.stayLogged}"></i>
        Stay connected
      </div>
    </form>
  </div>

  @if (error) {
    <div class="mb-8">
      <div style="color: red">{{error}}</div>
    </div>
  }

  <div class="flex">
    <div class="flex-grow"></div>

    <button (click)="onSubmit()" class="border rounded-md px-4 h-8">Login</button>
  </div>
</div>
