<div class="mx-4 md:mx-auto max-w-screen-md">
  <div class="flex mb-4">
    <div>
      <button (click)="navigateBack()" decorationButton>
        <app-icon name="arrow-back" class="mr-1"/>
        Back
      </button>
    </div>

    <div class="flex-grow"></div>
  </div>

  <div class="bold text-xl mb-4">Login</div>

  <div class="border rounded-lg p-4 mb-4">
    <form (submit)="onSubmit()" [formGroup]="loginForm">
      <div class="mb-2">Username</div>
      <div class="mb-4 relative">
        <input type="password" formControlName="username" decorationInput/>
      </div>

      <div class="mb-2">Password</div>
      <div class="mb-4 relative">
        <input type="password" formControlName="password" decorationInput/>
      </div>

      <div class="mb-4 flex relative cursor-pointer">
        <label>
          <input type="checkbox" formControlName="stayLogged">
          Stay connected
        </label>
      </div>

      <button type="submit" class="hidden">hidden submit</button>
    </form>
  </div>

  @if (error()) {
    <div class="mb-8">
      <div style="color: red">{{error()}}</div>
    </div>
  }

  <div class="flex">
    <div class="flex-grow"></div>

    <div>
      <button (click)="onSubmit()" decorationButton>Login</button>
    </div>
  </div>
</div>
