<ng-container [formGroup]="formGroup">
  <ng-container [ngSwitch]="question.skin">
    <ng-container *ngSwitchCase="'switch'">
      <ng-container *ngFor="let item of question.values">
        <div (click)="toggleOption(item.value, $event)" [ngClass]="{'opacity-3 cursor-not-allowed': question.readOnly}" class="flex vertical-center mb-8 cursor-pointer">
          <div [ngClass]="{'read-only': question.readOnly}" class="fill pr-16">{{item.label || item.value}}</div>
          <c7z-switch [active]="values[item.value]" [disabled]="question.readOnly"></c7z-switch>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'arrow'">
      <ng-container *ngFor="let item of question.values">
        <div (click)="toggleOption(item.value, $event)" [ngClass]="{'opacity-3 cursor-not-allowed': question.readOnly}" class="flex vertical-center mb-8 cursor-pointer">
          <i [ngClass]="{'rotate': values[item.value]}" class="icon icon-keyboard-arrow-down rotate-animation"></i>
          <div class="fill pl-8">{{item.label || item.value}}</div>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'button'">
      <div class="flex" style="flex-wrap: wrap;">
        <ng-container *ngFor="let item of question.values">
          <div class="fill">
            <c7z-button (onClick)="toggleOption(item.value)" [disabled]="question.readOnly" [ngClass]="{'blue' : values[item.value]}" class="raised full-width">{{item.label || item.value}}</c7z-button>
          </div>
        </ng-container>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'pellet'">
      <div [ngClass]="{'opacity-3': question.readOnly}" class="flex" style="flex-wrap: wrap;">
        <ng-container *ngFor="let item of question.values">
          <div (click)="toggleOption(item.value, $event)" [ngClass]="{'blue': values[item.value], 'cursor-not-allowed': question.readOnly}" class="c7z-chips raised flex vertical-center horizontal-center mr-8 mb-8">{{item.label || item.value}}</div>
        </ng-container>
      </div>
    </ng-container>

    <ng-container *ngSwitchDefault>
      <ng-container *ngFor="let item of question.values">
        <div (click)="toggleOption(item.value, $event)" [ngClass]="{'opacity-3 cursor-not-allowed': question.readOnly}" class="flex vertical-center pt-8 pb-4 cursor-pointer">
          <i [ngClass]="{'red': question.error && control.touched, 'icon-check-box-outline-blank': !values[item.value], 'icon-check-box': values[item.value]}" class="icon icon-check-box-outline-blank mr-8" style="font-size: 22px;"></i>
          <div class="fill">{{item.label || item.value}}</div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>
