$smallIconSize: 18px;
$normalIconSize: 24px;
$mediumIconSize: 36px;
$bigIconSize: 48px;
$biggerIconSize: 56px;

$fontPath: '../../font' !default;
$generatedFontPath: '../generated' !default;
$imagePath: '../../image' !default;
