$shadowNone: none;
$shadowExtraSmall: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
$shadowSmall: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
$shadowMedium: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
$shadowLarge: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
$shadowExtraLarge: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);

.shadow-none {
  box-shadow: $shadowNone;
}

.shadow-xs {
  box-shadow: $shadowExtraSmall;
}

.shadow-sm {
  box-shadow: $shadowSmall;
}

.shadow-md {
  box-shadow: $shadowMedium;
}

.shadow-lg {
  box-shadow: $shadowLarge;
}

.shadow-xl {
  box-shadow: $shadowExtraLarge;
}
