$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$weightBlack: 900;

// FONT SIZE
$h1: 30px;
$h2: 24px;
$h3: 20px;
$h4: 18px;
$subheadingSize: 16px;
$bodySize: 15px;
$captionSize: 13px;

$textFamily: 'Roboto';
$fontFamily: $textFamily, sans-serif;
