@charset "utf-8";

html {
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: $bodySize;
  font-weight: $regular;
  font-family: $fontFamily;
  min-height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; // Scroll fix for iOS
  @include variable(background-color, rgb(var(--background)), #fff);
  @include variable(color, rgb(var(--on-background)), #000);

  &.disable-scroll {
    overflow: hidden;
  }
}
